<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>			
			<client url="tcp://localhost:8888">				
				<wellknown
					type="Samwa.RemoteClass, RemoteClass"
					url="tcp://localhost:8888/RemoteClass" />
			</client>
		</application>
	</system.runtime.remoting>
</configuration>