<configuration>
	<system.runtime.remoting>
		<application>
			<client url="tcp://localhost:8888">
				<wellknown
				url="tcp://localhost:8888/RemoteClass"
				type="Samwa.RemoteClass, RemoteClass"
				/>
			</client>
			<channels>
				<channel ref="tcp" useDefaultCredentials="true" >
					<clientProviders>
						<formatter ref="binary"/>
					</clientProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>